
.profile-header
{
 border-bottom: 1px solid #ffffff27;  
 height: 10%;
}
.form-log-sig
{
  border: 1px solid rgba(255, 255, 255, 0.171);  
}
.form-wrapper
{
 margin-top: -40px;   
}
.in
{
  background-color: #202020 !important; 
  outline: none;
  color: white; 
}